{%extends 'event/layout.html'%}

{%block body%}
<section id="event-list">
<center><img src="/static/images/event.png"></center>

<table class="table">
    <tr class="tr" >
        <th class="tlist"></th>
        <th class="tlist">Event Name</th>
        <th class="tlist">Description</th>
        <th class="tlist">Start Time</th>
        <th class="tlist">End Time</th>
        <th class="tlist">Venue</th>

</tr>
<tr class="tr" >
    
    {% for event in event%}
    <td><a id="edit-pen" href="{%url 'event:edit-event' id=event.id%}" data-toggle="tooltip" data-placement="top" title="Edit Event">
        <i  class="fas fa-pen"></i>
    </a>
    </td>
    <!-- <td class="tlist"><input class="form-check-input" name="checks" type="checkbox" value="{{event.id}}"></td> -->
    <td>{{event.event_name}}</td>
    <td>{{event.description}}</td>
    <td>{{event.start_time}}</td>
    <td>{{event.end_time}}</td>
    <td>{{event.venue}}</td>

</tr>


{%endfor%}

</table>
<footer class="copyright">
    Copyright &copy;2021 AkiraChix. All rights reserved.
</footer>
</section>

{%endblock%}