{%extends "core/layout.html"%}

{%block body%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="corenav">
  <div class="container-fluid"  >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Student
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
                <li><a class="dropdown-item" href="{%url 'student:register_student'%}">Register Student</a></li>
                <li><a class="dropdown-item" href="{%url 'student:student-list'%}"> View Students</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              
              <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Trainer
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
                <li><a class="dropdown-item" href="{%url 'trainer:register-trainer'%}">Register Trainer</a></li>
                <li><a class="dropdown-item" href="{%url 'trainer:trainer-list'%}"> View Trainers</a></li>
              </ul>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
            <li><a class="dropdown-item" href="{%url 'course:register-course'%}">Register Course</a></li>
            <li><a class="dropdown-item" href="{%url 'course:course_list'%}">View Course</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Calendar
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
              <li><a class="dropdown-item" href="{%url 'event:add-event'%}"> Add Event</a></li>
              <li><a class="dropdown-item" href="{%url 'event:calendar'%}"> View Event</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>  

<video autoplay muted loop id="myVideo">
    <source src="/static/images/graduation.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="content">
    <h1>She Builds. She Serves. She Leads</h1>
    <div class="apps">
    <div class="value">
      <a href="{%url 'trainer:trainer-list'%}">
      <i class="fas fa-user-tie fa-4x home-page-icon"></i>
      <p class="card-text">Trainer App</p>
      <h5 class="values" value="{{trainers}}">0</h5>

    </a>
    </div>
    <div class="value">
      <a href="{%url 'course:course_list'%}">
      <i class="fas fa-laptop-code fa-4x home-page-icon"></i>
      <p class="card-text">Courses App</p>
      <h5 class="values" value="{{courses}}">0</h5>
    </a>
    </div>
  </div>

  <div class="apps">
    
      <div class="value">
        <a href="{%url 'student:student-home'%}">
          <i class="fas fa-user-graduate fa-4x home-page-icon"></i>
          <p class="card-text">Student App</p>
          <h5 class="values" value="{{students}}">0</h5>
 
          

        </a>
     </div>
 

    <div class="value">
      <a href="{%url 'event:calendar'%}">
      <i class="fas fa-calendar-week fa-4x home-page-icon"></i>
      <p class="card-text">Events App</p>
      <h5 class="values" value="{{events}}">0</h5>

    </a>
    </div>
  </div>

  </div>
  


  <footer class="copyright">
    Copyright &copy;2021 AkiraChix. All rights reserved.
</footer>
  {%endblock%}