{%extends 'trainer/layout.html'%}
{%block body%}
<section id="trainer-list">

  <div class="row mb-5 ml-2 mr-2"  id="row-trainer">
  <center><h1>{{trainer.first_name}}'s Profile</h1></center>
    <div class="col-sm-6 mb-4" id="card-column" >
      <div class="card" id="trainer-prof">
        <img id="profile" src="{{trainer.image.url}}">
        <div class="card-body">
          <a id="edit" href="{%url 'trainer:edit-trainer' id=trainer.id%}">
              <i  class="fas fa-pen"></i>
            </a>
          <h5 class="card-title">{{trainer.first_name}} {{trainer.last_name}}</h5>
          <h6 class="card-title">{{trainer.company_name}}</h5>
          <hr>
      <p class="card-text">{{trainer.course_name}}</p>
      <hr>
      <p>{{trainer.bio}}</p>
      <hr>
        <i id="contact" class="fas fa-envelope"></i> {{trainer.email}}<br>
        <i id="contact" class="fas fa-phone-alt"></i>{{trainer.phone_number}}<br>

      </p>
     <p> <a id="download_resume" href=" {{trainer.resume.url}}" download="{{trainer.resume.url}}">Download Resume</a></p>

        </div>
      </div>
  </a>
    </div>
   
  </div>

  <footer class="copyright">
    Copyright &copy;2021 AkiraChix. All rights reserved.
</footer>
</section>
{%endblock%}