{%extends "course/layout.html"%}

{%block body%}
<section id="courses">

<h1 class="heading-1">All Courses</h1>
<center><img src="/static/images/courseImage.png"></center>

<div class="row mb-5 ml-2 mr-2">
  {%for course in courses%}
  <div class="col-sm-6 mb-4">
    <a href="{%url 'course:course-syllabus' course.id%}">
    <div class="card">
      
          <div class="card-body">

            <a href="{%url 'course:course-syllabus' course.id%}"  class="tooltip-test iconcourse" title="View Course Syllabus" id="delete" >
              <i class="fas fa-list-alt"></i>            
            </a> 

            <a href="{%url 'course:edit-course' id=course.id%}"  class="tooltip-test iconcourse" id="course-profile" title="Edit Course" >
              <i  class="fas fa-pen"></i>
            </a>

    
            <h5 class="card-title">{{course.course_name}}</h5>
            <h6 class="card-title">{{course.trainer}}</h5>
            <hr>
        <p class="card-text">{{course.description}}</p>
        <hr>
        <p class="card-text">{{course.course_code}}  {{course.class_name}}
          <a href="{%url 'course:delete-course' id=course.id%}"  class="tooltip-test iconcourse" id="course-profile" title="Delete Course" >
            <i class="fas fa-trash-alt"></i>
          </a>

        </p>
          </div>
        </div>
    
      </div>
    </a>
      {%endfor%}
    </div>
    <footer class="copyright">
      Copyright &copy;2021 AkiraChix. All rights reserved.
  </footer>
</section>
{%endblock%}


