{%extends "layout.html"%}
{%block body%}

<section >

   <center><img src="/static/images/courseImage.png"></center>
   <h1> <a id="icon" href="{%url 'course:course_list'%}">
      <i class="fas fa-arrow-left fa-sm"></i></a>
        {{course.course.course_name}}
      </h1> 
<div class="row mb-5 mr-20">
  <div class="col-sm-12 mb-4">

      <div class="card" id="course-syllabus-card" style="color: white;">
         {{course.topic}}
            </div>
          </div>
        </div>
    
  

</section>
{%endblock%}

