{%extends "layout.html"%}

{%block body%}


<nav id="studentnav">
    <img id="logo" src="/static/images/logo.png">
  
  <hr id="hrlogo">
  
  <a href="{%url 'home'%}" class="sidebar-Link" >Home</a>
  <a href="{%url 'student-courses'%}" class="sidebar-Link" >Courses</a>
  <a href="{%url 'calendar'%}" class="sidebar-Link" >Events</a>

  <a href="#" class="sidebar-Link">Wallet</a>
  
  <img id="profimage" src="/static/images/personicon.png">
  </nav>
  <section id="body">
      
   

  </section>


  {%endblock%}