{%extends 'layout.html'%}
          

{%block body%}

<i class="fas fa-arrow-left"></i><h1> {{id.first_name}} {{id.last_name}}'s Profile</h1>
<div class="row mb-5 ml-2 mr-2"  id="row-student">
    
    <div class="col-sm-3 mb-4" id="card-column">
      <div class="card" id="profile-details">
        {%if id.image%}
        <img id="profile" src="{{id.image.url}}">
        {%else%}
        <img id="profile" src="/static/images/user.png">
        {%endif%}
        <div class="card-body">
            <div class="modal-body">

        </div>
       <a id="edit-pen" href="{%url 'student:edit-profile' id=id.id%}"><i  class="fas fa-pen"></i></a>
          <h5 class="card-title">{{id.first_name}} {{id.last_name}}</h5>
          <h6 class="card-title">{{id.get_nationality_display}}</h5>
          <hr>
          <p class="card-text"><b>National id:</b> {{id.national_id}}</p>
          <p class="card-text"><b>Admission Date:</b> {{id.admission_date}}</p>
          <hr>
          <h5 class="card-title">Personal Information</h5>
          <p class="card-text"><b>Date Of Birth:</b> {{id.date_of_birth}}</p>
          <p class="card-text"><b>Age:</b>{{id.age}}</p>
          <p class="card-text"><b>Guardian Name: </b>{{id.guardian_name}}</p>
          <p class="card-text"><b>Guardian Number:</b> {{id.guardian_number}}</p>
          {%if id.medical_report%}
          <a id="download_resume" href=" {{id.medical_report.url}}" download="{{id.medical_report.url}}">Download Medical Report</a>
          {%endif%}
      <hr>
        <i id="contact" class="fas fa-envelope"></i> {{id.email}}<br>
        <i id="contact"class="fas fa-phone-alt"></i>{{id.phone_number}}<br>
      </p>
     

        </div>
      </div>
  </a>
    </div>
   
  </div>

{%endblock%}

