{%extends 'layout.html'%}
          

{%block body%}

<h2 id ="heading3">codeHive Class Of 2021 </h2>

<form id="search-form" action="{% url 'student:search-student'%}">
  <input id="search" type="search" placeholder="Search By First Name"  name="search">
  <button  id="search-icon" class="btn" type="submit">
    <i class="fas fa-search"></i>
  </button>
</form>
{%if message%}
<h6>{{message}}</h6>
{%endif%}
{%if results%}
<h5 class="results">Found {{results}} Student</h5>
{%endif%}

  <div class="row mb-5 ml-2 mr-2"  id="row-student">
    {%for student in students %}
    <div class="col-sm-3 mb-4" id="card-column">
      <div class="card" id="card-profile">
        <img id="profile" src="{{student.image.url}}">
        <div class="card-body">
          <a class="icon-link" href="{%url 'student:delete-profile' student.id%}">
            <i class="fas fa-trash-alt"></i>
          </a>
          <h5 class="card-title">{{student.first_name}} {{student.last_name}}</h5>
          <h6 class="card-title">{{student.get_nationality_display}}</h5>
            <a id="profile-link" href="{%url 'student:student-profile' student.id%}">View Profile</a>
  
          <hr>
      </p>
        </div>
      </div>
  </a>
    </div>
    {%endfor%}
  </div>
  <footer class="copyright">
    Copyright &copy;2021 AkiraChix. All rights reserved.
</footer>

{%endblock%}