{%extends 'layout.html'%}
          

{%block body%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
            <li><a class="dropdown-item" href="{%url 'register-course'%}">Register Course</a></li>
            <li><a class="dropdown-item" href="{%url 'course_list'%}">View Course</a></li>
            <li><a class="dropdown-item" href="{%url 'add-event'%}"> Add Event</a></li>
            <li><a class="dropdown-item" href="{%url 'calendar'%}"> View Event</a></li>
            <li><a class="dropdown-item" href="{%url 'trainer-list'%}"> View Trainers</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div class="row mb-5 ml-2 mr-2"  id="row-student">
    {%for student in students %}
    <div class="col-sm-3 mb-4" id="card-column">
      <div class="card" id="card-profile">
        <img id="profile" src="{{student.image.url}}">
        <div class="card-body">
          <h5 class="card-title">{{student.first_name}} {{student.last_name}}</h5>
          <h6 class="card-title">{{student.get_nationality_display}}</h5>
            <a class="profile-link" href="{%url 'student-profile' student.id%}">View Profile</a>
            <a class="profile-link" href="{%url 'delete-profile' student.id%}">Delete Profile</a>
          <hr>
      </p>
        </div>
      </div>
  </a>
    </div>
    {%endfor%}
  </div>

{%endblock%}